#jakdotuptam-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.map-container {
    flex-grow: 1;
}

.route-search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: 300px;
}

.journey-summary {
    display: flex;
    flex-direction: column;
    padding:  5px;;
}

.journey-summary {
    cursor: pointer;
}

.journey-summary.active {
    border-left: 2px solid var(--accent);
}

.journey-summary-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.journey-lines {
    display: flex;
    gap: 5px;
}

.journey-line {
    display: block;
    padding: 5px;
    color: white;
}