#jakdotuptam-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.map-container {
    flex-grow: 1;
}

.route-search {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: 350px;
}

.journey-summary {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.journey-summary {
    cursor: pointer;
}

.journey-summary-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.journey-lines {
    display: flex;
    gap: 5px;
}

.journey-line {
    display: block;
    padding: 4px;
    color: white;
}

.journey-details {
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    gap: 10px;
}

.leg-details,
.transfer-details {
    display: flex;
    gap: 10px;
}

.leg-details-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7px 0;
}

.leg-details-content,
.transfer-details-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stop-name {
    color: #eee;
}

.transfer-details-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10px;
}